@import '../../styles/_variables.scss';
$oldPatientColor: #d5e0ff;
$newPatientColor: #c4e6d0;
$doneApmtColor: #e0deda;

.timelineWeek {
	background: #fff;
	border-radius: 10px;
	border: 1px solid #ddd;
}

.timelineWeek > .header {
	border: 0;
	border-bottom: 1px solid #eee;
	grid-template-columns: repeat(8, 1fr);
	display: grid;
	.day {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 10px 0px;
		border-bottom: 4px solid rgba(0, 0, 0, 0);
		&.active {
			border-bottom: 4px solid $mainColor;
		}
	}
}

.timelineWeek > .main {
	display: flex;
	border-top: 0px;
	align-items: stretch;
	height: 500px;
	overflow: auto;

	.timelineSide {
		.timelineSlot {
			position: relative;
			&:nth-child(2) {
				opacity: 0;
			}
			border-color: rgba(0, 0, 0, 0);
		}
		.label {
			padding: 0px 5px;
			letter-spacing: 1px;
			top: -10px;
			position: absolute;
			z-index: 25;
			text-align: center;
		}
	}
	.timelineCol {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.timelineCol > .header {
		width: 100%;
		.day {
			display: flex;
			flex-direction: column;
			align-items: center;
			padding: 10px 0px;
			border-bottom: 4px solid rgba(0, 0, 0, 0);
			&.active {
				border-bottom: 4px solid $mainColor;
			}
		}
	}
}

.timelineWeek {
	@media screen and (max-width: 1000px) {
		overflow: scroll;
		> .header,
		> .main {
			width: 900px;
		}
	}
}

.timelineSlot {
	min-height: 100px;
	display: flex;
	justify-content: center;
	width: 100%;
	border-top: 1px solid #eee;
	&:first-child {
		border-top: 1px solid rgba(0, 0, 0, 0);
	}
	border-bottom: 1px solid rgba(0, 0, 0, 0);
	position: relative;
	.timeSlotCards {
		position: absolute;
		z-index: 1;
		width: 100%;
	}
	.timeSlotCard {
		position: absolute;
		margin: 0px 2px;
		width: calc(100% - 4px); // account for margin
		border-radius: 6px;
		background: rgba($oldPatientColor, 0.8);
		font-size: 14px;
		overflow: hidden;
		&:hover {
			background: $oldPatientColor;
			cursor: pointer;
		}
		.timeRange {
			font-weight: bold;
			font-size: 10px;
		}
		.patient {
			font-size: 12px;
			font-weight: bold;
			display: inline-flex;
			align-items: center;
			.icon {
				margin-right: 2px;
				font-size: 10px;
			}
		}
		.description {
			padding-top: 6px;
		}
		.notes {
			margin-top: 2px;
			font-size: 12px;
			white-space: pre-wrap;
			word-break: break-word;
		}

		&.newPatient {
			background: rgba($newPatientColor, 0.8);
			&:hover {
				background: $newPatientColor;
			}
		}

		&.isDone {
			background: rgba($doneApmtColor, 0.8);
			&:hover {
				background: $doneApmtColor;
			}
		}
	}
	.timeSlotCardInner {
		width: 100%;
		padding: 4px 6px;
		overflow: auto;
	}
}

.timelineDay {
	overflow: auto;
}
